@font-face {
  font-family: TATSanaChon;
  src: url(TATSanaChon-Regular.ttf);
}

@font-face {
  font-family: TATSanaChon-Bold;
  src: url(TATSanaChon-Bold.ttf);
}

@font-face {
  font-family: TATSanaSuksa;
  src: url(TATSANA-SUKSA-REG.ttf);
}